
{% if user.is_authenticated %}
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>

        {% if user.tipo == 'administrador' %}
            <li><a href="{% url 'usuario_list' %}">Usuarios</a></li>
            <li><a href="{% url 'estudiante_list' %}">Estudiante</a></li>
            <li><a href="{% url 'curso_list' %}">Cursos</a></li>
            <li><a href="{% url 'tipo_conducta_list' %}">Conductas</a></li>
            <li><a href="{% url 'apoderado_list' %}">Apoderados</a></li>
            <li><a href="{% url 'docente_list' %}">Docentes</a></li>
            <li><a href="{% url 'psicologo_list' %}">Psicólogo</a></li>
        {% elif user.tipo == 'apoderado' %}
            <li><a href="#">Ver Informe</a></li>
            <li><a href="#">Cargar Información</a></li>
        {% elif user.tipo == 'docente' %}
            <li><a href="{% url 'datos_alumno_list' %}">Datos Alumno</a></li>
        {% elif user.tipo == 'psicologo' %}
            <li><a href="{% url 'datos_alumno_list' %}">Ver datos alumnos</a></li>
            <li><a href="#">Crear reporte</a></li>
        {% endif %}
        
        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
    </ul>
</nav>
{% endif %}