{% extends 'base.html' %}

{% block title %}Docente{% endblock %}

{% block content %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
<div class="crud-container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Lista de Docentess</h2>
    <a href="{% url 'docente_create' %}" class="btn btn-primary">Crear Docente</a>
    <div class="course-list">
        {% for docente in docentes %}
            <div class="course-item">
                <span class="course-details">{{docente.rut}} {{docente.nombre}} {{docente.primer_apellido}}</span>
                <div class="course-actions">
                    <a href="{% url 'docente_update' docente.pk %}" class="btn-primary">Editar</a>
                    <a href="{% url 'docente_delete' docente.pk %}" class="btn-danger">Eliminar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
