{% extends 'base.html' %}

{% block title %}Apoderado{% endblock %}

{% block content %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
<div class="crud-container">
    <h3>{% if form.instance.pk %}Editar Apoderado{% else %}Crear Apoderado{% endif %}</h3>
    <form method="post" class="crud-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
    </form>
    <a href="{% url 'apoderado_list' %}" class="btn btn-secondary" style="width: auto;">Volver</a>
</div>
{% endblock %}
